{% extends 'base.html' %} 
{% block content %}
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>위치</th>
                <th>전체갯수</th>
            </tr>
        </thead>
        <tbody>
            {% if locationlist %}
                {% for location in locationlist %}
                <tr>
                    <td>{{location.id}}</td>
                    <td><a href="{% url 'location:detail' location.id %}">{{location.location_name}}</a></td>
                    <td>{{location.count}}</td>
                </tr>
                {% endfor %}
            {% else %}
                <p>게시판 게시글이 없습니다</p>
            {% endif %}
        </tbody>
    </table>

    <h2>추천가게</h2>
    <div class="row">
        {% if random %}
        <a href="{% url 'location:placedetail'  random.id %}"><img src='{{random.place_imageurl }}' alt='a' width="220" height="210"></a>
        <p>{{random.place_name}}</p>
        {% endif %}
    </div>

{% endblock %}