{% extends 'base.html' %}


{% block title %} <title>비밀번호 변경</title> {% endblock %}


{% block content %}

<div class="container my-3">
    <div class="wrap">
        <h1 class="font-bold text-xl mb-6">{{user.email}}님 비밀번호 변경</h1>
    </div>
    <form method="post" class="post-form" action="{% url 'common:change-password' user.id %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="old_password">현재비밀번호</label>
            <input type="password" class='form-control' name="old_password" id="old_password"
            value="{{ form.old_password.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="new_password1">비밀번호</label>
            <input type="password" class='form-control' name="new_password1" id="new_password1"
            value="{{ form.new_password1.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="new_password2">비밀번호확인</label>
            <input type="password" class='form-control' name="new_password2" id="new_password2"
            value="{{ form.new_password2.value|default_if_none:'' }}">
        </div>
        <button class="btn btn-primary form-control">비밀번호 변경</button>
    </form>
    <button class="btn btn-secondary btn-lg"><a href="{% url 'common:info' user.pk %}" class="text-white">이전페이지</a></button>

</div>

{% endblock %}
